<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-4">You list: <strong><%= @list.name %></strong></h1>
  <div>    
    <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list ?"}, class: "link-primary link-underline-opacity-0 me-3" do %>
      <i class="fa-solid fa-trash fs-3"></i>
    <% end %>
  </div>
</div>

<div class="row gy-5 justify-content-center">
  <% @bookmarks.each do |bookmark| %>
    <div class="col-3">
      <%= render "lists/card", bookmark: bookmark, list: @list %>
    </div>
  <% end %>
</div>

<hr class="my-5">

<h2 class="my-4" id="new-bookmark">Create a new bookmark your list</h2>

<div class="row justify-content-center">
  <%= simple_form_for @bookmark, url: bookmarks_path, html: { class: "col-10" } do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { multiple: true, data: { controller: "tom-select" }, class: "bg-primary" } %>
    <%= f.submit "Create bookmark", class: "btn btn-primary fw-bold" %>
  <% end %>
</div>