<h1 class="my-4">Create a new bookmark in list: <strong><%= @list.name %></strong></h1>


<%= simple_form_for @bookmark, url: bookmarks_path do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Create bookmark", class: "btn btn-primary fw-bold" %>
<% end %>