<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="bg-primary p-1 d-flex justify-content-between align-items-center">
      <%= link_to "WatchList", root_path, class: "link-underline-opacity-0 link-dark fw-bold fs-3 ms-3" %>
      <div class="add-list">
        <%= link_to new_list_path, class: "link-underline-opacity-0 link-dark fw-bold fs-5 ms-3 me-3 link-opacity-50-hover" do %>
          <i class="fa-solid fa-plus"></i>
          add list
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="my-5"></div>
  </body>
</html>
